* { margin: 0; }
html { background:#d8d8d8; height: 100%; }
html.full { background:transparent; }
body {
    height: 100%; 
    margin:0 auto;
    background:#303030;
    font-family:'Cuprum',sans-serif;
}
main { position:relative; }
body > h1, main > h1 { padding-top:8%; }
h1, h2 {
    margin:0;
    text-align:center;
    color:#d8d8d8;
    text-shadow:0 3px 2px rgba(0, 0, 0, 0.8);
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -10em;
}
h1 { font-size:2.5em; }
h2 { font-size:1.5em; }
abbr[title] { border-bottom:none; }
a {
    color:#ae4949;
    text-decoration:none;
}
a:hover { text-decoration:underline; }
a:visited { color:#928280; }
footer a { color:#a60400; }
h1 a { color:#d8d8d8; }
h1 a:hover { text-decoration:none; }
h1 a:visited { color:#d8d8d8; }
section {
    margin:2em auto;
    width:95%;
}
section > h3 {
    color:#d8d8d8;
    position:absolute;
    top:-9999px;
    left:-9999px;
}
.buttons {
    text-align:center;
    overflow:hidden;
    margin-bottom:1em;
}
p, ul { color:#d8d8d8; }
ul {
    list-style-type:none;
    padding:0;
}
li { padding:.3em 0; }
.download, .github, .facebook {
    text-align:center;
    margin:2em 0.6em 1em 
}
.button {
    padding:1em;
    color:#d8d8d8;  
    background:#537577;
    font-weight:bold;
    display:block;
    -moz-box-shadow:3px 3px 5px 3px #222;
    -webkit-box-shadow:3px 3px 5px 3px #222;
    box-shadow:3px 3px 5px 3px #222;
}
.button:hover {
    text-decoration:none;
    opacity:0.9;
}
.button .version { font-weight:normal; }
footer {
    left:0px;
    bottom:0px;
    /** height: 10em; */
    width:100%;
    color:#303030;
    text-align:center;
    background:#d8d8d8;
}

footer, .push {
height: 10em;
}

.smiley {
    position: absolute; 
    bottom:12em;
    right:2em;
}

footer .container {
    padding: 1em;
}

footer .left {
    float: left;
}

footer p {
    color:#303030;
    font-size:.8em;
}

@media only screen and (min-width:36em) {
    h1 {  font-size:5em; }
    h2 { font-size:3em; }
    section { width:60%; }
    .buttons { margin:0 auto 2em; }
    .download, .github {
    float:left;
    width:44%;
    }
}
